{% set intro = g.site_intro_text %}

<div class="module-content box">
    <div>
        {% if intro %}
        {{ h.render_markdown(intro) }}
        {% else %}
        <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
        <p>
            {% trans %}This is a nice introductory paragraph about CKAN or the site
            in general. We don't have any copy to go here yet but soon we will
            {% endtrans %}
        </p>
        {% endif %}
    </div>

    {% block home_image %}
    <section class="featured media-overlay hidden-xs">
        <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
        {% block home_image_content %}
        <a class="media-image" href="#">
            <img class="img-responsive img1" src="datos-abiertos-ane-icono.png" alt="Placeholder" width="420" height="220" />
            <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volumen="0">
                <source src="hero-animated.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' /> </video>
        </a>
        {% endblock %}
    </section>
    {% endblock %}
</div>